$link-color: #222;
$link-hover-color: #666;
$link-hover-decoration: underline;
$-webkit-focus-ring-color: #222;

// PREFIX
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';

$fontFamily: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif !default;